{% extends '_base.html' %}
{% load static %}
{% block content %}
    <!-- Slider Section Start -->
	<div id="particles-bg" class="slider-area slider-five bg-color-1">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="slider-text ptb-155">
						<h1 class="font-50 mb-5">Hello, <br /> I am Erin Claudio </h1>
						<h5>I'm a software developer based in Traverse City, MI specializing in building exceptional,<br/> high-quality websites and applications.</h5>
                        <a class="btn" href="mailto:eclaudio@gmail.com">Let's Talk</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- slider Section End -->
    <!-- Links Top Start -->
	<div class="blog-area blog-three light-bg section-padding">
		<div class="container">
			<div class="social-icon simple pull-left">
				<ul class="clearfix">
					<li><a href="https://twitter.com/ChiGreentino" target="_blank"><i class="zmdi zmdi-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/in/erin-claudio/" target="_blank"><i class="zmdi zmdi-linkedin"></i></a></li>
					<li><a href="https://github.com/ErinClaudio?tab=repositories" target="_blank"><i class="zmdi zmdi-github"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
    <!-- Links Top End -->
    <!-- About section -->
    <section id="about" data-stellar-background-ratio="0.5">
	    <div  class="blog-area blog-three light-bg section-padding">
		    <div class="container mb-minus">
			    <div class="row">
                    <div class="col-sm-6">
                        <div class="about-info">
                            <div class="section-title">
                                <h2>About</h2>
                            </div>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci asperiores corporis deserunt dignissimos enim, eos fuga fugiat maiores numquam odit omnis quisquam recusandae, reiciendis reprehenderit repudiandae rerum sequi voluptates.</br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, alias dolorum ea eius enim fuga fugiat ipsam iure laboriosam, laudantium natus nihil officiis temporibus voluptas. Culpa ea vitae voluptates.</h5>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="about-image">
                            <img src="static/assets/img/blog/Erin3.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of About section -->
    <!-- Experience Section -->
   <section id="experience" data-stellar-background-ratio="0.5">
       <div  class="blog-area blog-three light-bg section-padding">
           <div class="container mb-minus">
               <div class="row">
                   <div class="col-sm-6">
                       <div class="about-info">
                           <div class="section-title">
                               <h2>Experience</h2>
                           </div>
                           <h5>Hello! I'm Erin, a software developer based in Traverse City, MI who enjoys building things that live on the internet. I develop exceptional websites and web apps that provide intuitive interfaces with efficient and modern backends.<br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur cum cumque ea, exercitationem facere nulla officia quos ratione sed soluta vitae! Alias blanditiis consequuntur ea, eaque ipsam magnam repellendus?</h5>
                       </div>
                   </div>
                   <div class="col-md-6 col-sm-12">
                       <div class="about-image">
                           <img src="static/assets/img/blog/4.jpg" class="img-responsive" alt="">
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
	<!-- end of experience section -->
    <!-- portfolio section -->
	<section id="portfolio" data-stellar-background-ratio="0.5">
	    <div  class="blog-area blog-three light-bg section-padding">
		    <div class="container mb-minus">
			    <div class="row">
                    <div class="col-sm-6">
                        <div class="about-info">
                            <div class="section-title">
                                <h2>Portfolio</h2>
                            </div>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis earum libero neque omnis quaerat repudiandae. Deleniti dolores error fugit iste laborum magnam molestias pariatur rem repellendus soluta temporibus, totam?<br/></h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="about-image">
                            <img src="static/assets/img/blog/4.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <!-- end of portfolio section -->
	<!-- Get in Touch Area Start -->
	<div class="promo-area promo-one light-bg ptb-100">
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-12 col-sm-8 col-md-6 col-text-center">
					<div class="promo-text">
                        <h2> Get In Touch</h2>
                        <h5> My inbox is always open. Whether for a potential project or just to say hi, I would love to Chat!</h5>
						<a id="contact" class="btn" href="mailto:eclaudio@gmail.com">Let's Talk</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Promo Area End -->
{% endblock content %}